<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>
    *{
      cursor: url(/cursor.png) 4 1, auto;
    }
  </style>
</head>
<body>

<header th:insert="/fragments/header :: headerMain"> </header>

<h1> Список пользователей </h1>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col"> Логин </th>
    <th scope="col"> Роли </th>


  </tr>
  </thead>
  <tbody>
  <tr th:each="el : ${user_list}">
    <td th:text="${el.username}"></td>
    <td><div th:each="role:${el.roles}">
      <p th:text="${role}"></p>
    </div></td>
    <td>
      <a th:href="'/jelly/user-info/' + ${el.UID}"> Редактировать </a>
    </td>
  </tr>
  </tbody>
</table>

</div>

<a href="/jelly/add" class="btn btn-success"> Добавить желатинку </a>
</body>
</html>