<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление пользователя</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>
    *{
      cursor: url(/cursor.png) 4 1, auto;
    }
  </style>
</head>
<body>

<header th:insert="/fragments/header :: headerMain"> </header>

<h1> Добавить пользователя </h1>

<form method="post">
  <div>
    <input type="text" th:value="${user_object.username}" name="username">
  </div>
  <div th:each="role: ${roles}">
    <input type="checkbox" th:id="${role}" th:name="${'roles[]'}" th:value="${role}"
    th:checked="${#lists.contains(user_object.roles, role)}">
    <label th:text="${role}"></label>
  </div>
  <input type="submit" value="Редактировать польователя">
</form>
</body>
</html>